body {
  background-color: #121212;
  color: #faf0f0;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid yellow;
}

#btn1 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.languages {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#btn1 button {
  margin: 0 10px;
  background-color: ;
}
#Downlaod {
  margin-left: 15px;
  display: block;
  direction: ;
}


form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 450px;
  height: 300px;
  border-radius: 20px;
  }

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

input, textarea {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  color: #333;
  resize: vertical;
}

#languages1 {
display: flex;
flex-direction: column;
align-content: space-between;
align-items: center;
padding: 5px;
}

#buttons {
  width: 100%; 
  height: 40px; 
}

#learning { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  Width: 1000px;
  height: 100px;
  }
  #table {
display: flex;
flex-direction: column;
justify-content: baseline;

  }

#course, #course1 {
display: flex;
flex-direction: column;
align-items: stretch;
}

#course li, #course1 li {
  margin-right: 10px;
}

#service {
  margin-left: 30vw;
  text-align: center;
}

#service td {
padding: 0 30px 20;
}

#service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
}

#language1 {
display: flex;
flex-direction: column;
justify-content: space-between;
}

#language {
display: flex;
flex-direction: column;
justify-content: space-between;
}

#ERP {
display: flex;
flex-direction: column;
justify-content: space-between;
}

#languages, #languages1, #languages2 {
display: flex;
flex-direction: column;
align-items: stretch;
}

#languages li, #languages1 li #languages2 {
  margin-right: 10px;
}


h1 {
  font size: 62px; 
  font-weight: bold;
  color: yellow;
  padding: 20px;
}

p {
font-size: 25px;
padding: 25px;
}


button {
  background-color: grey;
  color: Black; 
  font-family: Arial;
  border: none;  
  border-radius: 5px;
  padding: 8px 25px; 
  transition: all 0.3s ease-in-out; 
}
button:hover {
  background-color: yellow; 
}

#contact {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 10px;
  width: 1000px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid yellow;
}

#contact1 {
display: flex;
align-items: baseline;
align-content: space-between;
}
p {
  padding: 20px;
  width: 600px;
  font-size: 25px;
}
 h1 {
  font-size: 40px;
}

h2, h3 {
  margin-left: 10px;
}