
body {
  background-color: lightslategrey;
  font-family: arial;
  color: #faf0f0;
  margin: 10px;
  margin-left: 15px;
  padding: 10px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 300px;
  margin-left: 10px;
  }

label {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  margin-top: 10px;
  margin-bottom: 5px;
}

input, textarea {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  color: #333;
  resize: vertical;
}



#container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-content: space-around;
}

#btn1 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.languages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#Name {
  font-size: 150px;
  font-family: arial;
  color: white;
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  height: 300px;
=======
  height: 200px;
>>>>>>> 29e43d735eebf66b1d14a69fd9cbc9486d569b31
  background-color: ;
}

#btn1 button {
  margin: 0 10px;
  background-color: ;
}

#Download {
  margin-left: 15px;
  display: block;
  justify-content: ;
}

#buttons {
  width: 100%;
  height: 40px;
}

#learning {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 25px;
  color: white;
  width: 1000px;
  height: 250px;
}

#service {
  margin-left: 30vw;
  text-align: center;
}

#Table2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1200px;
  height: 300px;
}

li {
  font-size: 25px;
  margin-left: 20px;
}

#service td {
  padding: 0 30px 20px;
}

#service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
}

#language {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: yellow;
  padding: 10px;
}

#intro,
#socialMedia {
  width: 50%;
}

button {
  background-color: white;
  color: black;
  font-family: Arial;
  border: 1px solid darkred;
  border-radius: 5px;
  padding: 8px 25px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: yellow;
}

#Social_media {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: inherit;
  margin-top: 20px;
  margin-left: 150px;
}

#Social_media a {
  margin-right: 15px;
}

#Social_media img {
  width: 50px;
  height: 50px;
}

ol{
  font-size: 25px;
  width: 600px;
  padding: 20px;
}
p {
  padding: 20px;
  width: 600px;
  font-size: 25px;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-left: 10px;



}
